<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home_work</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css" media="screen">
    <link rel="stylesheet" href="styles/main.css" media="screen" charset="utf-8">
  </head>
  <body>
    <nav>
      <a href="#">Pull requests</a>
      <a href="#">Issues</a>
      <a href="#">Gist</a>
      <a href="#"><div class="logo">octicon-bell</div></a>
      <a href="#"><div class="logo">octicon-plus</div></a>
    </nav>
   <div class="info">   
   </div>
     <script type="text/template" id="info">
       <h1><%= name %></h1>
       <h2><%= login %></h2>
       <h5><%= location %></h5>
     </script>
        <input type="search" value="Search GitHub">
  <div class="section">
   <input type="search" name="name" value="Find a repository">
  </div>
  <div class="section">
     <section>
      <h2>Homework_week04_Monday</h2>
      <p>Updated a day ago</p>
    </section>
    <section>
      <h2>Homework_week03_Friday</h2>
      <p>Updated 3 days ago</p>
    </section>
    <section>
      <h2>Homework_week03_thursday</h2>
      <p>Updated 5 days ago</p>
    </section>
    <section>
      <h2>Homework_week03_Wednesday</h2>
      <p>Updated 6 days ago</p>
    </section>
    <section>
     <h2>Homework_tuesday_week03</h2>
     <p>Updated 7 days ago</p>
    </section>
    <section>
      <h2>Homework_week02_Thursday</h2>
      <p>Updated 9 days ago</p>
    </section>
    <section>
      <h2>Homework_week2_wednesday</h2>
      <p>Updated 13 days ago</p>
    </section>
    <section>
      <h2>Homework_week2_Tuesday2</h2>
      <p>Updated 14 days ago</p>
    </section>
    <section>
      <h2>Homework_week02_Tuesday</h2>
      <p>Updated 14 days ago</p>
    </section>
    <section>
      <h2>Homework_week02_Monday</h2>
      <p>Updated 15 days ago</p>
    </section>
    <section>
      <h2>Home_week1_Wednesday</h2>
      <p>Updated 20 days ago</p>
    </section>
    <section>
      <h2>Homework_week1_tue</h2>
      <p>Updated 21 days ago</p>
    </section>
    <section>
      <h2>Mon</h2>
      <p>Updated 22 days ago</p>
    </section>
  </div>
    <footer>
     <a href="#">Terms</a>
     <a href="#">Privacy</a>
     <a href="#">Security</a>
     <a href="#">Contact</a>
     <a href="#">Help</a>
    </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
      <script src="token.js"></script>
      <script src="main.js"></script>
  </body>
</html>
