
.head {
  height:50px;
  width: 100px;
  background-color: #F5F5F5;
}
 .section {
  margin-left:334px;
  margin-top: 88px;
}
section {
  margin-bottom: 60px;
}
section p {
  font-family: arial;
  color:#888888;
}
h1 {
  font-family: arial;
}
h2 {
  color: #4078C0;
  font-family: arial;
}
h3 {
  font-family: arial;
  font-size: 20px;
}
footer {
    margin-bottom: 44px;
}
footer a{
  text-decoration: none;
  color:#4078C0;
  font-family: arial;
}
